<table class="table table-hover">
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="!isLoading && !data.length">No data found</div>
    <thead>
        <tr>
            <th>Operation</th>
            <th>Value</th>
            <th>Direction</th>
            <th>Is Increase</th>
            <th>State</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item.operation}}</td>
            <td>{{item.value}}</td>
            <td>{{item.direction}}</td>
            <td>{{item.isIncrease}}</td>
            <td>{{item.state}}</td>
            <td>
                <!-- <a [routerLink]="['alterations', item.id]" class="btn btn-primary">Alterations</a> -->
            </td>
        </tr>
    </tbody>
</table>