<br>
<div class="row">
    <a class="btn btn-primary" [routerLink]="['../../customers']">Return</a>
</div>
<br>
<div class="alert alert-info">
    <div *ngIf="customer">Orders of {{customer.fullName}}</div>
</div>
<table class="table table-hover">
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="!isLoading && !data.length">No data found</div>
    <thead>
        <tr>
            <th>Operation</th>
            <th>Value</th>
            <th>Direction</th>
            <th>Is Increase</th>
            <th>State</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item.operation}}</td>
            <td>{{item.value}}</td>
            <td>{{item.direction}}</td>
            <td>{{item.isIncrease}}</td>
            <td>{{item.state}}</td>
            <td>
                <button *ngIf="item.state == 'Initial'" class="btn btn-primary" data-toggle="modal"
                    data-target="#payment" (click)="currentAlteration = item.id">Set To Paid</button>
                <button *ngIf="item.state == 'Paid'" class="btn btn-success">Set To Done</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div id="payment" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" class="form-control" placeholder="Enter amount" [(ngModel)]="amount">
                </div>
                <div class="alert alert-danger" *ngIf="paymentError">
                    <pre>{{paymentError}}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="creatingPayment" class="btn btn-secondary" data-dismiss="modal" #closePaymentModal>Close</button>
                <button type="button" [disabled]="creatingPayment" class="btn btn-primary" (click)="onCreateNewPayment()">Save</button>
            </div>
        </div>

    </div>
</div>