<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>All Alterations</th>
            <th>Unpaid Alterations</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item.fullName}}</td>
            <td>{{item.overallAlterings}}</td>
            <td>{{item.unpaidAlterings}}</td>
            <td>
                <a [routerLink]="['alterations', item.id]" class="btn btn-primary">Alterations</a>
            </td>
        </tr>
    </tbody>
</table>