<table class="table table-hover">
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="!isLoading && !data.length">No data found</div>
    <thead>
        <tr>
            <th>Customer</th>
            <th>New</th>
            <th>Paid</th>
            <th>OnGoing</th>
            <th>Finished</th>
            <th>All Orders</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item.fullName}}</td>
            <td>{{item.initialAlterings}}</td>
            <td>{{item.paidAlterings}}</td>
            <td>{{item.onGoingAlterings}}</td>
            <td>{{item.doneAlterings}}</td>
            <td>{{item.overallAlterings}}</td>
            <td>
                <a [routerLink]="['../alterations', item.id]" class="btn btn-primary">Alterations</a>
            </td>
        </tr>
    </tbody>
</table>